.sidebar {
  border-left: 1px solid var(--gray-4);
  padding-left: 24px;
  min-width: 200px;
}
.sidebar-item a {
  display:flex; align-items:center; justify-content:space-between;
  padding:10px 0; font-size:14px; color:var(--dark);
  transition:color var(--transition); font-family:var(--font-main);
  i { font-size:11px; color:var(--text-muted); }
  &:hover { color:var(--primary); }
}
